<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
</head>
<body>
    <form >
        Name : <input type = "text" name = "name" /><br><br>
        Username : <input type = "text" name = "username" /><br><br>
        Date of Birth : <input type = "date" name = "dob" /><br><br>
        Email : <input type = "email" name = "email" /><br><br>
        Telephone No :<input type="text" name="phone" size="10"/> <br><br>
        NIC No :<input type="text" name="NIC" size="12"/> <br><br>
        Gender :<br>     
            <input type="radio" name="male"/> Male <br>
            <input type="radio" name="female"/> Female <br>
            <input type="radio" name="other"/> Other<br><br>
        Password <input type="password"  name="password"><br><br>
        Reenter Password <input type="password" name="confpassword" > <br><br>
        <input type="submit" value="Submit">  
     </form>
</body>
</html>